@model MedicalSystem.ViewModels.MedicalHistoryVM
@{
    ViewData["Title"] = "Edit Medical History";
}

<h2>Edit Medical History</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="PatientOIB" />
        <input type="hidden" asp-for="DiseaseName"  />

    <input type="hidden" asp-for="StartDate"  />


    <div class="mb-3">
        <label class="form-label">End Date </label>
     
        <input asp-for="EndDate" id="dateTimePicker" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" asp-route-oib="@Model.PatientOIB" class="btn btn-secondary">Cancel</a>
</form>
<script>

    flatpickr("#dateTimePicker", {
        dateFormat: "Y-m-d",
        defaultDate: "today",
        minDate: "@Model.StartDate.ToString("yyyy-MM-dd")"
    });
</script>